@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

.masthead {
    overflow: hidden;
    background-color: #000033;
}

.logo {
    height: 2.25rem;
    width: auto;
    margin: .5rem 5%;
    float: right;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 1.5rem;
    width: 2.5rem;
	overflow: hidden;
    position: absolute;
    top: 1rem;
    left: 5%;
	background: transparent url("../images/hamburger.svg") no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap; 
}

.nav-top {
	max-height: 0; 
    background-color: #000033;
    overflow:hidden;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 12rem;
}

.nav-top ul { 
	margin: 0;
    padding: 4rem 0;
    list-style-type: none;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: block;
	font-size: 1.25rem;
    padding: 1rem 5%;
	color: white;
	text-decoration: none;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/billboard.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.billboard-about {
    overflow: hidden;
    width: 100%;
    height: 10rem;
    background-image: url(../images/city.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.billboard-suits {
    overflow: hidden;
    width: 100%;
    height: 10rem;
    background-image: url(../images/wine.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

h1 {
    margin: 35% 5%;
    padding: -5% 5%;
    top: -50%;
    position: relative;
    font-family: "Cardo", serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    text-transform: uppercase;
}

.billboard-about h1 {
    margin: 3.5rem 0rem;
    padding: .75rem 5%;
    top: .75rem;
    position: relative;
    font-family: "Cardo", serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    text-transform: uppercase;
    background-color: rgba(51, 0, 0, .5);
}

.billboard-suits h1 {
    position: relative;
    top: .75rem;
    padding: .75rem 5%;
    margin: 3.5rem 0rem;
    font-family: "Cardo", serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    text-transform: uppercase;
    background-color: rgba(102, 0, 0, .4);
}

.headline {
    margin: 0;
    padding: 0;
    height: 5rem;
    background-color: rgba(0, 0, 51, .4);
}

p {
    margin-top: 0;
}

h2 {
    margin: 2rem 10%;
    font-family: 'Cardo', 'serif';
    font-weight: lighter;
    font-size: 1.5rem;
    font-style:italic;
    text-align: center;
    color: #000033;
}

.subhead {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #993333;
    margin-bottom: 0;
}

.buckets figcaption {
    font: "Didot", "Garamond", serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    text-transform: uppercase;
    top: 4.5rem;
    background-color: rgba(0, 0, 51, .6); 
    padding: .5rem;
    text-decoration: none;
}

.buckets {
    position: relative;
    width: 50%;
    height: 9rem;
    display: inline;
}

.buckets figure {
    float: left;
    width: 50%;
    height: 9rem;
    overflow: hidden;
    margin: 0;
    padding:0;
}
 
.burgundy {
    color: #993333;
}

article {
    margin:0;
    padding: 0;
}

.stacked {
    overflow: hidden;
    margin: 0 5% 1.5rem;
    padding: 0;
}

.stacked img {
    float: left;
    width: 45%; 
    margin: 0 5% 0 0;
    padding: 0;
}

.stacked figcaption {
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
}

.social {
    overflow: hidden;
    margin: 0;
    padding: 0 5%;
    width: 100%;
}

.social li {
    float: left;
    list-style-type: none;
    width: 30%;
    margin: 0 5% 0 0;
    padding: 5%;
    display: inline-block;
}

.social li:last-child {
    margin-right: 0;
}

.copyright {
    float: right;
}

.address {
    text-align: center;
    background-color: beige;
    padding: 2rem;
}

footer {
    margin: 0;
    padding: 5rem 5%;
    background-color: #000033;
    overflow: hidden;
    color: white;
    clear: both;
}